@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-landscape-up {
  .aboutpage-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    .aboutpage-container__heading {
      font-size: calc(#{$font-size}*1.1);
    }
    .aboutpage-container__description {
      width: 100%;
      margin-bottom: 2rem;
      font-size: calc(#{$font-size}*0.4);
      .description__decoration {
        font-size:calc(#{$font-size}*0.6);
      }
      .description__important {
        color: $white;
        font-size: calc(#{$font-size}*0.5);
        .description__decoration {
          color: $white;
          font-size: calc(#{$font-size}*0.7);
        }
      }
    }
    .aboutpage__employee-container {
      width: 100%;
      flex-wrap: wrap;
      align-items: stretch;
      &::after{
        content: '';
        width: 80%;
        padding: 2rem;
        align-self: center;
        border-bottom: 2px solid $white;
      }
      .employee-container__employee {
        width: 50%;
        .employee {
          max-width: 50%;
        }
      }
    }
  }
}
