@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-landscape-up {
  .aboutpage-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    .aboutpage-container__heading {
      font-size: calc(#{$font-size}*1.1);
    }
    .aboutpage-container__description {
      width: 50%;
      margin-bottom: 2rem;
      line-height: calc(#{$font-size}*0.65);
      font-size: calc(#{$font-size}*0.4);
      .description__decoration {
        font-size:calc(#{$font-size}*0.45);
      }
      .description__important {
        color: $dark;
        font-size: calc(#{$font-size}*0.45);
        .description__decoration {
          color: $dark;
          font-size: calc(#{$font-size}*0.6);
        }
      }
    }
    .aboutpage__employee-container {
      .employee-container__employee {
        width: 50%;
        .employee {
          width: 35%;
          max-height: 360px;
        }
        .employee--bad {
          margin-left: 1rem;
          left: 2rem;
          bottom: -5rem;
        }
        .employee--good {
          margin-right: 1rem;
          right: 2rem;
          bottom: -5rem;
        }
      }
    }
  }
}
