@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-landscape-up {
  .contactpage-container {
    .contactpage-container__heading {
      font-size: calc(#{$font-size}*1.1);
    }
    .contactpage-container__socials-container {
      .socials-container__socials-list {
        .socials-list__list-item {
          width: 25%;
          .list-item__description {
            font-size: calc(#{$font-size}*0.3);
          }
          .list-item__link {
            .link__img {
              height: 7.5rem;
            }
          }
        }
        li:last-of-type {
          .list-item__btn {
            width: 15%;
            font-size: calc(#{$font-size}*0.4);
          }
        }
      }
    }
  }
}
