@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-landscape-up {
  .page-footer {
    q {
      padding: 2.2rem 1rem;
      font-size: calc(#{$font-size}*0.35);
      &::before {
        font-size: calc(#{$font-size}*0.75);
      }
    }
  }
}
