@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-landscape-up {
  .homepage-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    height: 100%;
    .content__description {
      padding: 0.6rem 1.5rem;
      width: 45%;
      text-align: center;
      border-radius: 2rem;
      .description__title {
        font-size: calc(#{$font-size}*0.5);
        .title__decoration {
          font-size: calc(#{$font-size}*0.6);
        }
      }
      &.content__description--primary {
        background: $white;
        border: 1px solid $dark;
        order: 1;
        margin-bottom: 0;
      }
      &.content__description--secondary {
        order: 2;
      }
    }
    .content__logo {
      align-self: center;
      margin-bottom: auto;
      margin-top: 3rem;
      width: 80%;
    }
  }
}
