@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-landscape-up {
  .skillspage-container {
    .skillspage-container__heading {
      font-size: calc(#{$font-size}*1.1);
    }
    .skillspage-container__skills-container {
      .skills-container__skill-level {
        font-size: calc(#{$font-size}*0.6);
      }
      .skills-container__skills-list {
        .skills-list__list-item {
          width: 25%;
          .list-item__image {
            max-width: 35%;
          }
          .list-item__description {
            font-size: calc(#{$font-size}*0.3);

          }
        }
      }
    }
  }
}
