@import './mixins.scss';
@import './media.scss';
@import './variables.scss';
@include for-phone-only {
  .projectspage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: $dark;
    padding: 1.5rem;
    .projectspage-container__heading {
      display: block;
      font-size: calc(#{$font-size}*2);
      width: 100%;
      color: $white;
      text-align: center;
      z-index: 5;
      &:before,
      &:after {
        background-color: $white;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 20%;
      }
      &:before {
        right: 0.5em;
        margin-left: -50%;
      }
      &:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
    .projectspage-container__projects-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      .projects-container__projects-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .projects-list__list-item{
          width: 50%;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          .list-item__image{
            max-width: 100%;
            margin-bottom: 1rem;
          }
          .list-item__description {
            text-align: center;
            color: $white;
            font-family: 'open-sans', sans-serif;
            font-size: calc(#{$font-size}*0.7);
          }
          .row-wrapper{
            display: flex;
            width: 100%;
            margin-bottom: 1rem;
            justify-content: space-between;
            .row-wrapper__code-link, .row-wrapper__live-link{
              font-size: calc(#{$font-size}*0.8);
              color: $blue;
              font-weight: bold;
              text-align: center;
              font-family: 'open-sans',
              sans-serif;
              max-width: 100%;
              transition: 0.1s ease-in-out all;
              &:hover, &:focus{
                color: $gray;
                font-family: 'open-sans', sans-serif;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }
    }
  }
}
