@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-big-desktop-up {
  .aboutpage-container {
    .aboutpage-container__heading {
      font-size: calc(#{$font-size}*0.6);
    }
    .aboutpage-container__description {
      font-size: calc(#{$font-size}*0.25);
      .description__decoration {
        font-size:calc(#{$font-size}*0.28);
      }
      .description__important {
        color: $white;
        font-size: calc(#{$font-size}*0.3);
        .description__decoration {
          color: $white;
          font-size: calc(#{$font-size}*0.35);
        }
      }
    }
  }
}
