@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-big-desktop-up {
  .aboutpage-container {
    .aboutpage-container__heading {
      font-size: calc(#{$font-size}*0.6);
    }
    .aboutpage-container__description {
      font-size: calc(#{$font-size}*0.25);
      .description__decoration {
        font-size:calc(#{$font-size}*0.28);
      }
      .description__important {
        color: $dark;
        font-size: calc(#{$font-size}*0.3);
        .description__decoration {
          color: $dark;
          font-size: calc(#{$font-size}*0.35);
        }
      }
    }
     .aboutpage__employee-container {
       width: 100%;
       display: flex;
       padding: 1.5rem;
       justify-content: space-between;
       position: relative;
       &::after {
         display: none;
         content: '';
         width: 80%;
         padding: 2rem;
         align-self: center;
         border-bottom: none;
       }
       .employee-container__employee {
         .employee {
           width: 45%;
           max-height: 620px;
         }
       }
     }
    }
  }


