@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-big-desktop-up {
  .skillspage-container {
    .skillspage-container__heading {
      font-size: calc(#{$font-size}*0.6);
    }
    .skillspage-container__skills-container {
      .skills-container__skill-level {
        font-size: calc(#{$font-size}*0.3);
      }
      .skills-container__skills-list {
        width: 60%;
        .skills-list__list-item {
          width: 16.667%;
          .list-item__image {
            max-width: 35%;
          }
          .list-item__description {
            font-size: calc(#{$font-size}*0.18);
          }
        }
      }
    }
  }
}
