@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-portrait-up {
  .aboutpage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: $gray;
    .aboutpage-container__heading {
      margin-top: 2rem;
      display: block;
      font-size: calc(#{$font-size}*1.5);
      width: 100%;
      color: $dark;
      text-align: center;
      z-index: 5;
      &:before,
      &:after {
        background-color: $dark;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 20%;
      }
      &:before {
        right: 0.5em;
        margin-left: -50%;
      }
      &:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
    .aboutpage-container__description {
      width: 50%;
      text-align: center;
      font-size: calc(#{$font-size}*0.7);
      z-index: 1;
      color: $dark;
      align-self: center;
      font-family: 'open-sans', sans-serif;
      margin-top: auto;
      margin-bottom: 3rem;
      .description__decoration {
        font-size: calc(#{$font-size}*0.8);
        color: $dark;
        border-bottom: 3px solid $green;
        width: 100%;
      }
      .description__important {
        color: $dark;
        font-size: calc(#{$font-size}*1);
        .description__decoration {
          color: $dark;
          font-size: calc(#{$font-size}*1.2);
        }
      }
    }
    .aboutpage__employee-container {
      width: 100%;
      display: flex;
      padding: 1.5rem;
      justify-content: center;
      position: relative;
      .employee-container__employee {
        width: 50%;
        .employee {
          width: 35%;
          max-height: 230px;
          position: absolute;
        }
        .employee--bad {
          margin-left: 1rem;
          left: 2rem;
          bottom: -5rem;
        }
        .employee--good {
          margin-right: 1rem;
          right: 2rem;
          bottom: -5rem;
        }
      }
    }
  }
}
