@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-portrait-up {
  .page-footer {
    width: 100%;
    height: auto;
    background: $dark;
    padding: 0.5rem;
    .page-footer__footer-description {
      color: $white;
      font-family: 'open-sans', sans-serif;
      font-size: calc(#{$font-size}*0.4);
      text-align: center;
    }
  }
}

