@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-portrait-up {
  .homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include skewedBG($white, $dark, 'topleft');
    /***************CONTENT SECTION**************/
    .content__description {
      padding: 0.6rem 1.5rem;
      width: 50%;
      align-self: center;
      text-align: center;
      border-radius: 2rem;
      .description__title {
        font-size: calc(#{$font-size}*0.6);
        .title__decoration {
          font-size: calc(#{$font-size}*0.75);
        }
      }
      &.content__description--primary {
        background: $white;
        border: 1px solid $dark;
        order: 1;
        .description__title {
          color: $green;
          .title__decoration {
            color: $dark;
            display: block;
            font-weight: bold;
            margin-top: -1rem;
          }
        }
      }
      &.content__description--secondary {
        background: $dark;
        border: 1px solid $white;
        order: 2;
        .description__title {
          color: $green;
          .title__decoration {
            color: $white;
            display: block;
            font-weight: bold;
            margin-top: -1rem;
          }
        }
      }
    }
    .content__logo {
      justify-self: center;
      margin-top: auto;
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: 0;
      margin-bottom: 2rem;
      .logo__laptop {
        width: 70%;
        order: 2;
        align-self: center;
        z-index: 2;
      }
      .logo__cog {
        width: 15%;
        order: 1;
        align-self: center;
        z-index: 1;
        margin-right: -12%;
      }
      .logo__circle {
        width: 14%;
        order: 3;
        z-index: 1;
        flex-grow: 0;
        align-self: center;
        margin-left: -12%;
      }
    }
    .scroll-container {
      align-self: flex-end;
      margin-top: auto;
      display: flex;
      bottom: 0;
      flex-direction: column;
      height: 8rem;
      order: 3;
      position: relative;
      align-items: center;
      width: 100%;
      .scroll-container__para {
        font-size: 1.8rem;
        position: absolute;
        align-self: auto;
        font-family: 'open-sans', sans-serif;
        margin-bottom: 1.3rem;
      }
      .scroll-container__scroll {
        cursor: pointer;
        position: absolute;
        margin: auto;
        animation: scroll 3s linear infinite;
        bottom: 2rem;
        .scroll__arrow {
          width: 6rem;
        }
      }
    }
  }
}
