@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-tablet-portrait-up {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .page-header__menu {
    background: $dark;
    display: flex;
    padding: 0.8rem;
    width: 100%;
    justify-content: center;
    .menu__menu-button {
      display: none;
    }
    .menu__menu-list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      li:first-of-type {
        &.logo {
          align-self: flex-start;
          margin-right: auto;
          a {
            border-bottom: none;
            .logo-svg {
              width: 60%;
            }
          }
        }
      }
    }
    .menu-list__item {
      width: 100%;
      margin-left: 1rem;
      a {
        span {
          position: relative;
          text-align: center;
          font-size: calc(#{$font-size}*0.5);
          color: $white;
          overflow: hidden;
          padding: 5px 0;
          &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 2px;
            background: $white;
            bottom: 0;
            right: 0;
            transition: all 0.3s;
          }
        }
        &:hover, &:focus {
          span {
            &::before {
              width: 100%;
              background: $green;
            }
          }
        }
      }
    }
  }
}
