@import './mixins.scss';
@import './media.scss';
@import './variables.scss';
@include for-tablet-portrait-up {
  .projectspage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: $gray;
    padding: 1.5rem;
    .projectspage-container__heading {
      display: block;
      margin-top: 2rem;
      font-size: calc(#{$font-size}*1.5);
      width: 100%;
      color: $dark;
      text-align: center;
      z-index: 5;
      &:before,
      &:after {
        background-color: $dark;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 20%;
      }
      &:before {
        right: 0.5em;
        margin-left: -50%;
      }
      &:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
    .projectspage-container__projects-container {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin-top: 3rem;
      align-items: center;
      .projects-container__projects-list {
        align-self: center;
        margin-top: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .projects-list__list-item {
          position: relative;
          cursor: pointer;
          margin: 0.8rem;
          width: 45%;
          overflow: hidden;
          &:hover,
          &:focus {
            &>.list-item__overlay {
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color:$white, $alpha: 0.7);
              padding: 0.8rem;
              border: 1rem solid $dark;
              box-shadow: 0 0 5px 0 $dark;
              opacity: 1;
            }
            .list-item__image {
              transform: scale(1.5);
            }
          }
          .list-item__image {
            max-width: 100%;
            transition: all 0.3s;
          }
          .list-item__overlay {
            display: none;
            animation: showProject 0.2s ease-in-out;
            transition: 1s all ease;
            .list-item__technologies {
              text-align: center;
              color: $dark;
              font-family: 'open-sans', sans-serif;
              font-size: calc(#{$font-size}*0.4);
            }
            .row-wrapper {
              display: flex;
              width: 100%;
              justify-content: space-around;
              margin-bottom: 0.5rem;
              .row-wrapper__code-link,
              .row-wrapper__live-link {
                padding: 0 20px;
                height: 45px;
                line-height: 45px;
                font-size: calc(#{$font-size}*0.6);
                position: relative;
                display: inline-block;
                margin: 15px 25px;
                outline: none;
                color: $dark;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
                text-align: center;
                &:hover,
                &:focus {
                  color: $blue;
                }
                &::before,
                &::after {
                  position: absolute;
                  width: 45px;
                  height: 2px;
                  background: $dark;
                  content: '';
                  opacity: 0.5;
                  transition: all 0.3s;
                  pointer-events: none;
                }
                &::after {
                  right: 0;
                  bottom: 0;
                  transform: rotate(90deg);
                  transform-origin: 100% 0;
                }
                &::before {
                  top: 0;
                  left: 0;
                  transform: rotate(90deg);
                  transform-origin: 0 0;
                }
                &:hover::before,
                &:hover::after,
                &:focus::before,
                &:focus::after {
                  opacity: 1;
                  background: $blue
                }
                &:focus::before,
                &:hover::before {
                  left: 50%;
                  transform: rotate(0deg) translateX(-50%);
                }
                &:focus::after,
                &:hover::after {
                  right: 50%;
                  transform: rotate(0deg) translateX(50%);
                }
              }
            }
          }
        }
      }
    }
  }
}
