@import './mixins.scss';
@import './media.scss';
@import './variables.scss';
@include for-tablet-portrait-up {
  .projectspage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: $gray;
    padding: 1.5rem;
    .projectspage-container__heading {
      display: block;
      font-size: calc(#{$font-size}*1.5);
      width: 100%;
      color: $dark;
      text-align: center;
      z-index: 5;
      &:before,
      &:after {
        background-color: $dark;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 20%;
      }
      &:before {
        right: 0.5em;
        margin-left: -50%;
      }
      &:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
    .projectspage-container__projects-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      .projects-container__projects-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .projects-list__list-item {
          position: relative;
          margin: 0.8rem;
          width: 45%;
          display: flex;
          justify-content: center;
          &:hover {
            &>.list-item__overlay {
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color:$white, $alpha: 0.7);
              padding: 0.8rem;
              border-radius: 10%;
              box-shadow: 0 0 5px 0 $dark;
              opacity: 1;
            }
          }
          .list-item__image {
            max-width: 100%;
          }
          .list-item__overlay {
            display: none;
            animation: showProject 0.2s ease-in-out;
            transition: 1s all ease;
            .list-item__technologies {
              text-align: center;
              color: $dark;
              font-family: 'open-sans', sans-serif;
              font-size: calc(#{$font-size}*0.4);
            }
            .row-wrapper {
              display: flex;
              width: 100%;
              justify-content: space-around;
              margin-bottom: 0.5rem;
              .row-wrapper__code-link,
              .row-wrapper__live-link {
                font-size: calc(#{$font-size}*0.5);
                color: $orange;
                font-weight: bold;
                text-align: center;
                font-family: 'open-sans', sans-serif;
                max-width: 100%;
                transition: 0.1s ease-in-out all;
                &:hover,
                &:focus {
                  color: $blue;
                  font-family: 'open-sans', sans-serif;
                  border-bottom: 2px solid $blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
