@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-phone-only {
  .page-footer {
    width: 100%;
    height: auto;
    background: $gray;
    padding: 1.5rem;
    text-align: center;
    q {
      display: inline-block;
      font-family: 'open-sans', sans-serif;
      font-size: calc(#{$font-size}*0.6);
      font-style: italic;
      padding: 0.5rem;
      color: $dark;
      background: $white;
      quotes: "\201C""\201D""\2018""\2019";
      border-left: 10px solid $green;
      box-shadow: 0 0 5px 0px $dark;
      &::before {
        color: $green;
        content: open-quote;
        font-size: calc(#{$font-size}*1.5);
        margin-right: 0.25rem;
        vertical-align: -0.4rem;
      }
      &::after {
        content: '';
      }
    }
  }
}
