@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-phone-only {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  /***************MENU SECTION**************/
  .page-header__menu {
    background: $white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: center;
    align-items: center;
    width: 100%;
    .menu__menu-button {
      width: 100%;
      background: $white;
      padding: 1rem;
      display: block;
      cursor: pointer;
      border-bottom: 1px solid $dark;
      &:hover {
        background: $gray;
      }
      .menu__menu-icon {
        width: 3rem;
        margin: 0 auto;
        display: block;
      }
    }
    .menu__menu-list {
      display: none;
      transform-origin: 50% 0%;
      transform: scaleY(0);
      animation: hideAnimation .5s ease-in-out;
      transition: max-height 1s ease-in-out;
      &.opened {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        z-index: 1000;
        max-height: 999999px;
        transform-origin: 50% 0%;
        transform: scaleY(1);
        animation: showAnimation .5s ease-in-out;
        transition: max-height 1s ease-in-out;
      }
      li:first-of-type {
        background: $dark;
        padding: 10px 20px;
        &.logo {
          .logo-svg {
            width: 10%;
          }
        }
      }
      .menu-list__item {
        position: relative;
        border-bottom: 1px solid $dark;
        width: 100%;
        overflow: hidden;
        &:last-child {
          border-bottom: none;
        }
        a {
          overflow: hidden;
          display: block;
          span {
            display: block;
            font-size: $font-size;
            padding: 10px 20px;
            color: $dark;
            transition: transform 0.8s;
          }
          &::before {
            content: attr(data-hover);
            font-size: $font-size;
            position: absolute;
            padding: 10px 20px;
            top: 0;
            left: 0;
            z-index: -1;
            background: $dark;
            color: $white;
            width: 100%;
            height: 100%;
            transition: transform 0.3s;
            transform: translateX(-100%);
          }
          &:hover,
          &:focus {
            span {
              transform: translateX(100%);
            }
            &::before{
              transform: translateX(0%);
            }
          }
        }
      }
    }
  }
}
