@import "_media.scss";
@import "_reset.scss";
@import "_fonts.scss";
@import "_keyframes.scss";
@import "_loader.scss";
@import "phone_portrait/_phone.scss";


.page-wrapper {
  width: 100%;
  height: 100%;

  .container{
        min-height: 100vh;
        height: auto;
        max-height: 100%;
        width: 100%;
        display: flex;

  }
}

