@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-desktop-up {
  .aboutpage-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
     &:before {
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background: url('../img/bg.jpg') no-repeat center;
       opacity: 0.15;

     }
     &:after {
       content: '';
       position: absolute;
       top: 0;
       right: 0;
       overflow: hidden;
       width: 0;
       height: 0;
       border-style: solid;
       z-index: 0;
       border-width: 50vh 50vh 50vh 0;
       border-color: transparent $dark transparent transparent;
     }
    .aboutpage-container__heading {
      font-size: calc(#{$font-size}*0.6);
    }
    .aboutpage-container__description {
      width: 33%;
      margin-bottom: 0;
      align-self: flex-start;
      font-size: calc(#{$font-size}*0.3);
      .description__decoration {
        font-size:calc(#{$font-size}*0.4);
      }
      .description__important {
        color: $dark;
        font-size: calc(#{$font-size}*0.4);
        .description__decoration {
          color: $dark;
          font-size: calc(#{$font-size}*0.5);
        }
      }
    }
    .aboutpage__employee-container {
      width: 100%;
      display: flex;
      padding: 1.5rem;
      justify-content: space-between;
      position: relative;
      &::after{
        display: none;
        content: '';
        width: 80%;
        padding: 2rem;
        align-self: center;
        border-bottom: none;
      }
      .employee-container__employee {
        width: 50%;
        .employee {
          width: 35%;
          max-height: 450px;
          position: absolute;
        }
        .employee--bad{
          margin-left: 3rem;
          left: auto;
          bottom: -20rem;
        }
        .employee--good {
          margin-right: 3rem;
          right: auto;
          bottom: -20rem;
        }

      }
    }
  }
}
