@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-desktop-up {
  .homepage-container {
    flex-direction: column;
    height: 100%;
    &::after{
      content: '';
      background: url("../img/developer.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      opacity: 0.1;
      mix-blend-mode: soft-light;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }
    .description-container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      .content__description {
        padding: 0.3rem 1rem;
        text-align: center;
        border-radius: 2rem;
        align-self: center;
        width: 25%;
        .description__title {
          font-size: calc(#{$font-size}*0.3);
          .title__decoration {
            font-size: calc(#{$font-size}*0.4);
          }
        }
        &.content__description--primary {
          background: $white;
          border: 1px solid $dark;
          order: 1;
          margin-bottom: 0;
        }
        &.content__description--secondary {
          order: 2;
        }
      }
    }
    .content__logo {
      margin-top: auto;
      margin-bottom: 2rem;
      order: 0;
      width: 40%;
    }
  }
}
