@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-desktop-up {
  .homepage-container {
    flex-direction: row;
    height: 100%;
    .content__description {
      padding: 0.6rem 1.5rem;
      text-align: center;
      border-radius: 2rem;
      align-self: center;
      width: 25%;
      flex: 0 45%;
      .description__title{
        font-size: calc(#{$font-size}*0.5);
        .title__decoration{
          font-size: calc(#{$font-size}*0.55);

        }
      }
      &.content__description--primary {
        background: $white;
        border: 1px solid $dark;
        order: 1;
        margin-bottom: 0;
      }
      &.content__description--secondary {
        order: 2;
      }
    }
    .content__logo {
      margin: 0;
      order: 0;
      width: 60%;
    }
  }
}
