@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-desktop-up {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .page-header__menu {
    background: $dark;
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    .menu__menu-button {
      display: none;
    }
    .menu__menu-list {
      display: flex;
      flex: 1 1 auto;
      width: 100%;
      li:first-of-type {
        &.logo {
          &:hover {
            a{
              background: transparent;
              width: 100%;
            }
          }
          a {
            .logo-svg {
              width: 50%;
            }
          }
        }
      }
    }
    .menu-list__item {
      text-align: center;
      width: 10%;
      padding: 1rem;
      &:hover {
        a {
          font-weight: bolder;
          background: $white;
          color: $dark;
          padding: 0.5rem;
          border-bottom: none;
          border-radius: 15%;
        }
      }
      a {
        text-decoration: none;
        font-size: calc(#{$font-size}*0.25);
        color: $white;
        text-transform: uppercase;
        transition: all 0.3s;
        border-bottom: 1px solid $white;
      }
    }
  }
}
