@import "./_media.scss";
@import './mixins.scss';
@import './variables.scss';
@include for-desktop-up {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .page-header__menu {
    background: $dark;
    display: flex;
    padding: 3rem;
    width: 100%;
    justify-content: flex-end;
    .menu__menu-button {
      display: none;
    }
    .menu__menu-list {
      display: flex;
      width: 80%;
    }
    .menu-list__item {
      text-align: center;
      width: 100%;
      &:hover {
        a {
          font-size: 2.3rem;
          font-weight: bolder;
          background: $white;
          color: $dark;
          padding: 1rem;
          border-bottom: none;
          border-radius: 15%;
        }
      }
      a {
        text-decoration: none;
        font-size: 2.2rem;
        color: $white;
        text-transform: uppercase;
        transition: font-size 0.3s;
        border-bottom: 1px solid $white;
      }
    }
  }
}

